*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Edu TAS Beginner", serif;
}

header{
    background-image: url("img/wall.png");
    min-height: 140px;
}

main{
    background-image: url("img/cork.png");
    min-height: 1000px;
}

img{
    width: 100%;
}

.card:hover{ 
    transform: rotate(15deg) scale(1.2);
    transition: all 0.7s;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h1{
    display: flex;
    padding: 30px;
    justify-content: center;
    font-size: 60px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {

  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }